@font-face {
	font-family: 'Victor Mono';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	/*src: url(https://cdn.airikr.me/fonts/victor-mono-400.woff2);*/
	src: url(../../fonts/victor-mono-400.woff2);
	unicode-range: U+000-5FF;
}

@font-face {
	font-family: 'Victor Mono';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	/*src: url(https://cdn.airikr.me/fonts/victor-mono-700.woff2);*/
	src: url(../../fonts/victor-mono-700.woff2);
	unicode-range: U+000-5FF;
}



/* Variables for the universal theme */
:root {
	--bg: #272e33;
	--text: #e8e5d5;
	--menu_hover: #232a2e;
	--menu_icons: #232a2e;
	--menu_icons_active: #343f44;
	--menu_icons_hover: #2d353b;
	--line: #495156;

	--field_bg: #1e2326;
	--field_border: #414b50;
	--field_border_focused: #9da9a0;
	--submit_bg: #7fbbb3;
	--submit_text: #1e2326;

	--red: #e67e80;
	--green: #a7c080;
	--blue: #7fbbb3;
	--yellow: #dbbc7f;
	--orange: #e69875;
	--purple: #d699b6;
	--dark: #111111;
	--grey: #414b50;

	--bg_darker: #2d353b;
	--bg_darker_opacity: rgba(45, 53, 59, .5);
	--progress_percentage: #384b55;
	--mark: #1e2326;
	--highlight_period: #333c43;
	--highlight_today: #9da9a0;

	--icon_select: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-selector" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="rgba(255,255,255,1)" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M8 9l4 -4l4 4"></path><path d="M16 15l-4 4l-4 -4"></path></svg>');

	--img_lined: url(../images/lined-dark-everforest.webp);

	--font: 'Victor Mono', monospace;
	--fontsize: .9rem;
	--lineheight: 1.5rem;
	--transition_duration: .1s;
}



* {
	box-sizing: content-box;
	scroll-behavior: smooth;
	transition: background-color var(--transition_duration) linear,
				border var(--transition_duration) linear,
				text-decoration-color var(--transition_duration) linear,
				fill var(--transition_duration) linear,
				stroke var(--transition_duration) linear;
}

/* Required assets */
html, body {
	background-color: var(--bg);
	color: var(--text);
	font-family: var(--font);
	font-size: var(--fontsize);
	font-weight: 300;
	line-height: var(--lineheight);
	margin: 0;
	padding: 0;
}

body {
	overflow-y: scroll;
}

a {
	color: var(--text);
	display: inline-block;
	text-decoration: underline;
	text-decoration-color: var(--line);
	text-decoration-thickness: .05rem;
	/* text-decoration-style: wavy; */
	text-underline-offset: 5px;
}

a.color-red {
	text-decoration-color: var(--red);
}

a.color-green {
	text-decoration-color: var(--green);
}

a.color-blue {
	text-decoration-color: var(--blue);
}

b {
	font-weight: 700;
}

p {
	hyphens: auto;
	margin: 0;
	padding: 10px 0;
	text-align: justify;
	word-wrap: break-word;

	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-o-hyphens: auto;
}

mark {
	background-color: var(--mark);
	color: var(--text);
}

code {
	border: 1px solid var(--line);
	border-radius: 2px;
	color: var(--yellow);
	font-family: 'Victor Mono', monospace;
	padding: 2px;
}

ul {
	margin: 0 0 0 30px;
	padding: 5px 0;
}

ul > li {
	padding: 5px 0;
}

ul > li > a > svg {
	height: 20px;
	width: 20px;
}

ul > li > a > svg > path:last-child {
	fill: var(--text);
}

ul > li > ul {
	margin: 0 0 0 20px;
}

ol {
	list-style-type: none;
	counter-reset: item;
	margin: 0 0 0 30px;
	padding: 5px 0;
}

ol > li {
	display: table;
	counter-increment: item;
	padding: 5px 0;
}

ol > li > div {
	padding: 5px 0;
}

ol > li:before {
	content: counters(item, ".");
	display: table-cell;
	font-weight: 700;
	width: 25px;
}

ol > li > ol {
	margin: 0;
}

ol > li > ol > li:before {
	content: counters(item, ".");
	width: 40px;
}

ol > li > ol.second > li > ol.third > li:before {
	width: 50px;
}

ol.third {
	margin-bottom: -5px;
}

input:not([type="checkbox"]),
input:not([type="radio"]),
textarea,
select {
	background-color: var(--field_bg);
	border: 1px solid var(--field_border);
	border-radius: 3px;
	color: var(--text);
	font-family: var(--font);
	font-size: var(--fontsize);
	height: 18px;
	outline: none;
	resize: none;
	padding: 5px;
	width: calc(100% - (6px * 2));
}

input:not([type="checkbox"]):focus,
input:not([type="radio"]):focus,
textarea:focus,
select:focus {
	border: 1px solid var(--field_border_focused);
}

input[disabled],
textarea[disabled],
select[disabled] {
	background-color: var(--bg);
	border: 1px dashed var(--field_border);
	cursor: not-allowed;
	color: var(--grey);
	transition: none !important;
}

input[readonly] {
	cursor: default;
}

input[readonly]:focus {
	border: 1px solid var(--field_border);
}

input[type="submit"] {
	background-color: var(--submit_bg);
	border: 1px solid var(--submit_bg);
	color: var(--submit_text);
	cursor: pointer;
	font-weight: 700;
	padding: 5px 10px;
	width: auto;
}

input[type="submit"][disabled] {
	background-color: transparent;
	border: 1px solid transparent;
	color: var(--text);
	cursor: not-allowed;
	opacity: .7;
}

input[type="radio"] {
	cursor: pointer;
	line-height: 100%;
	opacity: 0;
	position: absolute;
	width: auto;
}

input[type="radio"] + label {
	border: 1px solid transparent;
	cursor: pointer;
	margin: 0 3px;
	opacity: .7;
	padding: 1px 3px;
}

input[type="radio"]:checked + label {
	backdrop-filter: blur(3px);
	border-radius: 2px;
	opacity: 1;
}

input[type="date"] {
	appearance: none;
}

input, textarea {
	caret-color: var(--yellow);
}

textarea {
	height: 100px;
	width: calc(100% - 12px);
}

select {
	appearance: none;
	background-image: var(--icon_select);
	background-size: 17px;
	background-repeat: no-repeat;
	background-position: center right 8px;
	cursor: pointer;
	height: 18px;
	padding: 5px;
	width: calc(100% - (6px * 2) + 12px);
}

h1 {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-size: 190%;
	font-weight: 700;
	margin: 0 0 5px 0;
	line-height: 2.5rem;
	padding: 0;
}

h1 > svg {
	margin: 0 5px;
	opacity: .4;
	width: 32px;
}

h2 {
	font-size: 140%;
	font-weight: 700;
	margin: 30px 0 0 0;
	padding: 0;
}

h3 {
	font-size: 120%;
	font-weight: 700;
	margin: 30px 0 0 0;
	padding: 0;
}

hr {
	border: 0;
	border-top: 1px solid var(--line);
	margin: 30px -50px;
	padding: 0;
}

sup {
	vertical-align: top;
}

figure {
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
	margin: 0;
	width: 100%;
}

figure,
figure > img {
	object-fit: cover;
	vertical-align: top;
	width: 100%;
}

svg {
	height: 100%;
	vertical-align: top;
	width: 20px;
}

svg[class*="icon-tabler-currency"] {
	height: auto;
	margin: .15rem .2rem 0 .2rem;
	vertical-align: top;
	width: 18px;
}















.change {
	left: 15px;
	position: fixed;
	top: 15px;
}

.change.language {
	left: 60px;
	top: 15px;
}

.change.language > a {
	align-items: center;
	display: flex;
	height: 22px;
	justify-content: center;
}

.change.message-ontop {
	top: calc(52px + 15px);
}

.change > .theme,
.change > .wait,
.change > .error,
.change > .language {
	padding: 10px;
}

.change > div > svg {
	height: 100%;
	width: 24px;
}



.demo,
.debugmode-enabled {
	background-color: var(--yellow);
	color: var(--dark);
	left: 0;
	padding: 15px 20px;
	position: sticky;
	text-align: center;
	top: 0;
	width: calc(100% - (20px * 2));
	z-index: 9999;
}

.demo > a {
	color: var(--dark);
}



.modal,
.what-is-this-modal {
	background-color: var(--bg_darker_opacity);
	backdrop-filter: blur(3px) grayscale(100%);
	display: none;
	left: 0;
	height: 100%;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999999;
}

.modal > div,
.what-is-this-modal > div {
	align-items: flex-start;
	background-color: var(--bg);
	border: 1px solid var(--line);
	border-radius: 5px;
	display: flex;
	flex: 1;
	max-height: 80vh;
	margin: 0 auto;
	justify-content: center;
	position: relative;
	overflow-y: auto;
	top: 50px;
	width: 800px;
}

.modal > div {
	width: 500px;
}

.what-is-this-modal > div > .close {
	border-radius: 100%;
	color: var(--red);
	cursor: pointer;
	position: sticky;
	height: 25px;
	left: calc(100% - 40px);
	text-align: center;
	top: 15px;
	width: 25px;
}

.modal > div > .icon,
.what-is-this-modal > div > .icon {
	left: -20px;
	position: absolute;
	top: -20px;
}

.modal > div > .icon > svg,
.what-is-this-modal > div > .icon > svg {
	opacity: .05;
	width: 120px;
}

.modal > div > .content,
.what-is-this-modal > div > .content {
	padding: 50px;
	width: 100%;
}

.modal > div > .content > p,
.what-is-this-modal > div > .content > p {
	text-align: left;
}



/* The website */
#logo {
	margin: 10px auto;
	text-align: center;
	width: 1050px;
}

#logo.signed-out {
	width: 1050px;
}

#logo.signed-in {
	width: 1300px;
}

#logo > a {
	align-items: center;
	background-image: var(--img_lined);
	border-radius: 5px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	padding: 50px 0;
	text-decoration: none;
}

#logo > a:hover,
#logo > a:active {
	background-color: var(--bg_darker);
}

#logo > a > .sitename > .title {
	font-size: 292%;
	font-weight: 700;
	line-height: 100%;
	margin-bottom: 5px;
	text-align: left;
}

#logo > a > .sitename > .meaning {
	align-items: center;
	opacity: .7;
}

#logo > a > img {
	margin-right: 20px;
	width: 72px;
}

#website {
	align-items: stretch;
	display: flex;
	flex-flow: row nowrap;
	margin: 0 auto;
	padding: 5px;
}

#website.signed-out {
	max-width: 1100px;
}

#website.signed-in {
	max-width: 1300px;
}

.portable-menu {
	display: none;
}



#website > nav {
	border-radius: 5px;
	flex-shrink: 0;
	padding: 10px;
	position: sticky;
	width: 200px;
}

#website > nav > a.logo {
	display: none;
}

#website > .logged-out {
	display: none;
}

#website > nav > .sitename {
	font-size: 200%;
	font-weight: 700;
	line-height: 150%;
	margin-bottom: 20px;
	text-align: center;
}

#website > nav > .sitename > a {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	line-height: 100%;
	padding: 20px 30px;
	text-decoration: none;
}

#website > nav > .sitename > a > img {
	margin-top: -3px;
	margin-right: 10px;
	vertical-align: top;
	width: 32px;
}

details > nav > .menu > a,
details > nav > .menu > div > a,
details > nav > .menu > div > div > a,
details > nav > .menu > div > div > .disabled,
#website > nav > .menu > a,
#website > nav > div > div > a,
#website > nav > div > div > div > a,
#website > nav > div > div > .disabled {
	align-items: center;
	color: var(--text);
	display: flex;
	flex-direction: row;
	line-height: 100%;
	outline: none;
	padding: 10px;
	text-decoration: none;
	transition: none !important;
}

#website > nav > div > a:hover,
#website > nav > div > a:focus,
#website > nav > div > div > a:hover,
#website > nav > div > div > a:focus,
#website > nav > div > div > div > a:hover,
#website > nav > div > div > div > a:focus {
	background-color: var(--bg_darker);
	border: 0;
	border-radius: 5px;
}

details > nav > .menu > div > div > .disabled,
#website > nav > div > div > .disabled {
	cursor: not-allowed;
	opacity: .5;
}

details > nav > .menu > div > .signing-out,
#website > nav > div > div > .signing-out {
	color: var(--blue);
	display: none;
	margin-left: 5px;
	padding: 5px;
}

details > nav > .menu > .space,
#website > nav > div > .space {
	margin: 10px 0;
}

details > nav > .menu > div > a > .line,
details > nav > .menu > div > div > a > .line,
details > nav > .menu > div > .disabled > .line,
#website > nav > .menu > div > a > .line,
#website > nav > .menu > div > div > a > .line,
#website > nav > .menu > div > .disabled > .line {
	border-top: 1px dotted var(--line);
	flex: 1;
	margin: 0 15px;
}

details > nav > .menu > div > a > .dot,
#website > nav > div > a > .dot {
	background-color: var(--yellow);
	border: 5px solid var(--bg);
	border-radius: 100%;
	height: 5px;
	margin-left: -20px;
	position: absolute;
	width: 5px;
}



#website > section {
	width: 100%;
}

#website > section > main {
	padding: 20px 30px;
}



footer {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 30px 0;
}

footer > .links > a {
	padding: 10px;
}

footer > .text {
	margin-left: 30px;
}

footer > .text > svg {
	color: var(--red);
	margin-top: 1px;
}















/* Colours */
.color-grey {
	color: var(--grey);
}

.color-red {
	color: var(--red) !important;
}

.color-green {
	color: var(--green);
}

.color-blue {
	color: var(--blue);
}

.color-yellow {
	color: var(--yellow);
}

.color-purple {
	color: var(--purple);
}

.color-orange {
	color: var(--orange);
}



/* Various */
form > .information,
form > div > .information,
form > div > div > .information,
section > div > .information,
section > div > div > .information {
	color: var(--blue);
}

form > .information.email {
	margin-top: 30px;
}

form > .information > p,
form > div > .information > p,
form > div > div > .information > p,
section > div > .information > p,
section > div > div > .information > p {
	padding: 5px 0;
}

form > .item,
form > div > .item,
form > div > div > .item,
form > div > div > .side-by-side > .item {
	padding: 3px 0;
}

form > .item:not(:first-child),
form > div > .item:not(:first-child),
form > div > div > .item:not(:first-child) {
	margin-top: 10px;
}

.calc-months-left > .item > .label,
form > .item > .label,
form > div > .item > .label,
form > div > div > .item > .label,
form > div > div > .side-by-side > .item > .label,
form > div > .account > .tfa-disabled > div > .secret > .item > .label {
	align-items: center;
	display: flex;
	line-height: 120%;
	margin-bottom: 5px;
	margin-left: 5px;
	font-weight: 700;
}

.calc-months-left > .item > .field,
form > .item > .field,
form > div > .item > .field,
form > div > div > .item > .field,
form > div > div > div > .item > .field,
form > div > div > div > .item > .field.sum > div:not(.icon),
form > div > .account > .tfa-disabled > div > .secret > .item > .field {
	align-items: center;
	display: flex;
	flex-direction: row;
}

form > div > div > div > .item > .field.sum {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
}

.calc-months-left > .item > .field > .icon:not(.wit),
form > .item > .field > .icon:not(.wit),
form > div > .item > .field > .icon:not(.wit),
form > div > div > .item > .field > .icon:not(.wit),
form > div > div > div > .item > .field > .icon:not(.wit),
form > div > div > div > .item > .field.sum > div:not(.icon) > .icon:not(.wit),
form > div > .account > .tfa-disabled > div > .secret > .item > .field > .icon:not(.wit) {
	align-items: center;
	background-color: var(--bg);
	border: 1px solid var(--field_border);
	border-right: 0;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	display: flex;
	flex-direction: row;
	padding: 5px;
}

.calc-months-left > .item > .field > .icon.wit,
form > .item > .field > .icon.wit,
form > div > .item > .field > .icon.wit,
form > div > div > .item > .field > .icon.wit,
form > div > div > div > .item > .field > .icon.wit,
form > div > div > div > .item > .field.sum > div:not(.icon) > .icon.wit,
form > div > .account > .tfa-disabled > div > .secret > .item > .field > .icon.wit {
	align-items: center;
	background-color: var(--field_bg);
	background-image: var(--img_lined);
	border: 1px solid var(--field_border);
	border-left: 0;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
	display: flex;
	flex-direction: row;
	padding: 5px 0;
}

.calc-months-left > .item > .field.with-explaination > input,
.calc-months-left > .item > .field.with-explaination > select,
form > .item > .field.with-explaination > input,
form > .item > .field.with-explaination > select,
form > div > .item > .field.with-explaination > input,
form > div > .item > .field.with-explaination > select,
form > div > div > .item > .field.with-explaination > input,
form > div > div > .item > .field.with-explaination > select,
form > div > div > div > .item > .field.with-explaination > input,
form > div > div > div > .item > .field.with-explaination > select,
form > div > div > div > .item > .field.sum.with-explaination > div:not(.icon) > input,
form > div > div > div > .item > .field.sum.with-explaination > div:not(.icon) > select,
form > div > .account > .tfa-disabled > div > .secret > .item > .field.with-explaination > input,
form > div > .account > .tfa-disabled > div > .secret > .item > .field.with-explaination > select {
	border-right: 0;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

form > .item > .field > .icon:not(.date),
form > div > .item > .field > .icon:not(.date),
form > div > div > .item > .field > .icon:not(.date),
form > div > div > div > .item > .field.sum > div:not(.icon) > .icon,
form > div > div > div > .item > .field > .icon:not(.date) {
	cursor: pointer;
}

.calc-months-left > .item > .field > .icon > svg,
form > .item > .field > .icon > svg,
form > div > div > .item > .field > .icon > svg,
form > div > .item > .field > .icon > svg,
form > div > div > div > .item > .field > .icon > svg,
form > div > div > div > .item > .field.sum > div:not(.icon) > .icon > svg,
form > div > .account > .tfa-disabled > div > .secret > .item > .field > .icon > svg {
	opacity: .7;
	width: 18px;
}

.calc-months-left > .item > .field > input,
form > .item > .field > input,
form > div > .item > .field > input:not(.no-icon),
form > div > div > .item > .field > input:not(.no-icon),
form > div > div > div > .item > .field > input:not(.no-icon),
form > div > div > div > .item > .field.sum > div:not(.icon) > input:not(.no-icon),
form > div > .account > .tfa-disabled > div > .secret > .item > .field > input:not(.no-icon) {
	border-left: 0;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

form > .button,
form > div > .button {
	margin-top: 20px;
}

form > .button > a {
	color: var(--text);
	margin-left: 10px;
	padding: 5px 10px;
	text-decoration: none;
}

[name="field-tfa"] {
	letter-spacing: 15px;
	text-align: center;
}



.nearly-invisible {
	opacity: .2;
}

.message {
	font-size: 134%;
	opacity: .7;
	padding: 20px 30px;
	text-align: center;
}

.msg,
.msg-tfa {
	display: none;
}

.msg > div,
.msg-tfa > div {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	font-size: 100%;
	margin-bottom: 20px;
	padding: 0;
	text-align: left;
}

.msg > div > svg,
.msg-tfa > div > svg {
	margin-right: 10px;
}

.msg > div > .icon-tabler-loader-2 {
	animation: rotation 1s infinite linear;
}



.mono {
	font-size: 100%;
}

.margin-0 {
	margin: 0 !important;
}

.marginleft-10 {
	margin-left: 10px !important;
}

.no-select {
	cursor: default;

	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
}

.side-by-side {
	align-items: flex-start;
	display: flex;
	flex-flow: row nowrap;
}

.wait > svg {
	animation: rotation 1s infinite linear;
}

.hidden {
	display: none !important;
}

.visible {
	display: block !important;
}

.desktop {
	display: inline-block;
}

.portable {
	display: none;
}

.what-is-this {
	margin-right: 8px;
	margin-left: -4px;
}

.what-is-this > a {
	background-color: var(--bg);
	background-image: url(../images/lined.webp);
	border-radius: 2px;
	display: inline-block;
	padding: 5px;
	text-align: center;
}

.what-is-this > a > svg {
	width: 17px;
}

.screenshot {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
}

.screenshot > .wait {
	display: none;
	margin: 0 2.5px;
	padding: 5px;
}

.screenshot > .link > a {
	border-radius: 4px;
	display: inline-flex;
	margin: 0 2.5px;
	padding: 5px;
}

.screenshot > .link > a:hover {
	background-color: var(--menu_icons_hover);
}

.screenshot-padding {
	padding: 10px;
}

.screenshot-nounderline {
	text-decoration: none;
}

.currency-screenshot {
	display: none;
}

.currency-screenshot > .currency,
.currency-screenshot.currency {
	margin-left: 7px;
}

[aria-label*="sum"],
[aria-label*="num"],
.sum,
.date,
.datetime,
.time,
.ip {
	font-variant-numeric: tabular-nums;
}



.checkboxes {
	padding: 20px 0;
}

.checkboxes > .space {
	margin: 15px 0;
}

.checkboxes > h3 {
	margin-left: 8px;
}

.checkboxes > h3:not(.first) {
	margin-top: 30px;
}

.checkbox:not(:first-child) {
	margin-top: 25px;
}

.checkbox.nodesc,
.checkbox.desc {
	margin-top: 0;
}

.checkbox > div {
	align-items: center;
	display: inline-flex;
	flex-direction: row;
	position: relative;
}

.checkbox > div > input {
	cursor: pointer !important;
	left: 5px;
	opacity: 0;
	position: absolute;
	top: 5px;
}

.checkbox > div > input[disabled],
.checkbox > div > input[disabled] ~ label {
	cursor: not-allowed !important;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
}

.checkbox > div > input[disabled] ~ label,
.checkbox > div > input[disabled] ~ .icon-checkbox > svg > path:not(:first-child) {
	opacity: .5;
}

.checkbox > div > .icon-checkbox {
	left: 6px;
	position: absolute;
	pointer-events: none;
	top: 5px;
}

.checkbox > div > .icon-checkbox.is-checked,
.checkbox > div > input:checked ~ .icon-checkbox.is-unchecked {
	opacity: 0;
}

.checkbox > div > input:checked ~ .is-checked {
	opacity: 1;
}

.checkbox > div > label {
	cursor: pointer !important;
	padding: 4px 8px 4px 35px;
	transition: none !important;
}

.checkbox > div > input:not([disabled]):hover ~ .icon-checkbox,
.checkbox > div > input:not([disabled]):hover ~ label,
.checkbox > div > input:not([disabled]):focus ~ .icon-checkbox,
.checkbox > div > input:not([disabled]):focus ~ label {
	background-color: var(--bg_darker);
	border-radius: 3px;
}

.checkbox > .desc {
	display: block;
	left: 35px;
	line-height: 140%;
	font-size: 98%;
	margin-bottom: 20px;
	opacity: .7;
	top: 4px;
	width: calc(100% - 35px);
}

.checkbox > .desc > p {
	text-align: left;
}



.no-permissions {
	margin: 0 auto;
	width: 600px;
}

.no-permissions > h1 {
	font-size: 128%;
	margin: 0;
}

.no-permissions > p > .goback {
	align-items: center;
	display: inline-flex;
	flex-direction: row;
	padding: 5px;
}

.no-permissions > p > .goback > svg {
	margin-right: 10px;
}



@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}