p {
	text-align: left;
}

.portable-menu,
.change,
#logo,
#website,
footer {
	display: none;
}

#noscript {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	padding: 50px;
	max-width: 650px;
}

#noscript > svg {
	flex-shrink: 0;
	margin-right: 30px;
	position: sticky;
	width: 64px;
}



@media only screen and (max-width: 1409px) {

	#noscript {
		align-items: center;
		flex-direction: column;
		padding: 20px;
	}

	#noscript > svg {
		margin: 0 0 30px 0;
		width: 82px;
	}

}