@page {
	margin: 20px;
}

h1 {
	font-size: 20px;
	font-weight: bold;
	margin: 0 0 10px 0;
	padding: 0;
}

h1.debts,
h1.loans {
	margin-top: 50px;
}



.overview {
	background-color: #f5f5f5;
	border-radius: 5px;
	margin-bottom: 20px;
	padding: 20px;
}

.balance-td {
	padding: 0 20px;
	text-align: center;
	width: 420px;
}

.balance-string {
	opacity: .3;
}

.balance-sum {
	font-size: 20px;
	font-weight: bold;
}

.overview table tbody tr:nth-child(even) {
	background-color: #eaeaea;
}

.details-width {
	width: 170px;
}

.bold {
	font-weight: bold;
}



table {
	border-spacing: 1px;
}

table thead tr td,
table tfoot tr td {
	font-weight: bold;
}

table tbody tr:nth-child(even) {
	background-color: #f5f5f5;
}

table tbody tr .date {
	width: 75px;
}

table tbody tr .company,
table tbody tr .paying {
	width: 50px;
}

table tbody tr .name-expense {
	width: 345px;
}

table tbody tr .name.debt {
	width: 445px;
}

table tbody tr .name.expense {
	width: 417px;
}

table tbody tr .sum,
table tfoot tr .sum {
	text-align: right;
	width: 130px;
}



.message {
	color: #2f57c6;
}