@media only screen and (max-width: 1459px) {

	.portable-menu.signed-in {
		display: block;
	}



	#noscript {
		margin-top: 10px;
	}

	.desktop {
		display: none;
	}

	.portable {
		display: inline-block;
	}



	.change.theme {
		background-color: var(--bg_darker_opacity);
		backdrop-filter: blur(1.5px);
		border-radius: 5px;
		left: auto;
		right: 20px;
		top: 15px;
		z-index: 99999;
	}

	.change.language {
		background-color: var(--bg_darker_opacity);
		backdrop-filter: blur(1.5px);
		border-radius: 5px;
		left: auto;
		right: 70px;
		top: 15px;
		z-index: 99999;
	}

	.change.theme > .theme,
	.change.theme > .wait {
		padding: 10px;
	}

	.change.message-ontop {
		top: calc(52px + 15px);
	}



	.what-is-this-modal > div {
		border: 0;
		border-radius: 0;
		display: block;
		left: 0;
		max-height: 100%;
		top: 0;
		width: 100%;
	}

	.what-is-this-modal > div > .close {
		height: 45px;
		left: calc(100% - 60px);
		width: 45px;
	}

	.what-is-this-modal > div > .content {
		padding: 20px;
		width: calc(100% - (20px * 2));
	}

	.calc-months-left > .item > .field > .icon.wit,
	form > .item > .field > .icon.wit,
	form > div > .item > .field > .icon.wit,
	form > div > div > .item > .field > .icon.wit,
	form > div > div > div > .item > .field > .icon.wit,
	form > div > div > div > .item > .field.sum > div:not(.icon) > .icon.wit,
	form > div > .account > .tfa-disabled > div > .secret > .item > .field > .icon.wit {
		align-items: center;
		background-color: var(--bg);
		background-image: var(--img_lined);
		border: 1px solid var(--field_border);
		border-left: 0;
		border-bottom-right-radius: 3px;
		border-top-right-radius: 3px;
		display: flex;
		flex-direction: row;
		padding: 5px 10px;
	}



	#logo.signed-out {
		margin: 0;
		width: 100%;
	}

	#logo.signed-in {
		display: none;
	}

	details {
		margin-top: 0;
	}

	details > summary {
		cursor: pointer;
		font-size: 130%;
		list-style: none;
		padding: 20px;
	}

	details > summary > .hide,
	details[open] > summary > .show {
		display: none;
	}

	details[open] > summary > .hide {
		display: flex;
	}

	details > summary > div {
		align-items: center !important;
	}

	details > summary > div > svg {
		margin-right: 10px;
		width: 32px;
	}

	details > nav {
		margin-bottom: 50px;
	}

	details > nav > a.logo {
		align-items: center;
		background-image: var(--img_lined);
		border-radius: 5px;
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		margin: 10px 10px 30px 10px;
		padding: 30px 0;
		text-align: center;
		text-decoration: none;
	}

	details > nav > a.logo > .sitename > .title {
		font-size: 192%;
		font-weight: 700;
		line-height: 100%;
		margin-bottom: 5px;
		text-align: left;
	}

	details > nav > a.logo > .sitename > .meaning {
		align-items: center;
		opacity: .7;
	}

	details > nav > a.logo > img {
		margin-right: 20px;
		width: 64px;
	}

	#website {
		margin: 10px 0 0 0;
		padding: 10px;
		width: calc(100% - (10px * 2));
	}

	#website.signed-in {
		max-width: 100%;
	}

	#website > nav {
		display: none;
	}

	#website > section {
		width: 100%;
	}

	#website > section > main {
		padding: 0;
		width: inherit;
	}

	#website > footer {
		display: flex;
		flex-direction: column;
	}

	#website > footer > .text {
		margin-top: 10px;
		margin-left: 0;
	}



	p {
		text-align: left;
	}

	h1 > svg {
		flex-shrink: 0;
	}



	#demo {
		width: 100%;
	}

	#welcome,
	#overview {
		flex-direction: column;
	}

	#overview > .left {
		width: 100%;
	}

	#welcome > .form {
		margin-left: 0;
		margin-bottom: 100px;
		width: 100%;
	}

	#welcome > .form > .login > .remove-tfa {
		margin-top: 30px;
	}

	#welcome > .intro {
		border-left: 0;
		padding: 0;
		width: 100%;
	}

	#overview > .left > .balance {
		padding: 15px 20px;
		width: calc(100% - (20px * 2));
	}

	#overview > .left > .calendar {
		margin: 0 auto 50px auto;
		padding: 50px 20px;
	}

	#overview > .statistics {
		margin-left: 0;
		width: 100%;
	}

	#overview > .statistics > div > .item {
		margin-left: 0;
	}

	#privacy-policy {
		width: 100%;
	}

	#privacy-policy > hr {
		margin: 20px 0;
	}

	#admin > .info {
		display: block;
		margin-top: 30px;
	}

	#admin > .info > .left {
		padding-right: 0;
		width: 100%;
	}

	#admin > .info > .left > .users > div {
		position: relative;
		overflow-x: auto;
		overflow-y: hidden;
		width: 100%;
	}

	#admin > .info > .right {
		border-left: 0;
		margin-top: 50px;
		padding-left: 0;
		width: 100%;
	}

	#admin > .users {
		white-space: nowrap;
		overflow-x: auto;
		overflow-y: hidden;
	}

	#list > div:not(.accounts) {
		display: flex;
		flex-direction: column;
	}

	#list > div:not(.accounts) > .list {
		border-right: 0;
		border-bottom: 1px dashed var(--line);
		padding-bottom: 40px;
		padding-right: 0;
		width: 100%;

		white-space: nowrap;
		overflow-x: auto;
		overflow-y: hidden;
	}

	#list > div > .details {
		margin-top: 30px;
		margin-left: 0;
		max-width: 100%;
		position: relative;
		width: 100%;
	}

	/*#list > div > .details > .highlight {
		width: calc(100% + 20px);
	}*/

	#list > div > .details > .content > .info > .swish > canvas {
		width: 200px;
	}

	#manage-item > form > div:not(.button) {
		flex-direction: column;
	}

	#manage-item > form > div > .required {
		width: 100%;
	}

	#manage-item > form > div > .optionally {
		margin-left: 0;
		margin-top: 70px;
		width: 100%;
	}

	#manage-item > form > div > div > .side-by-side {
		flex-direction: column;
	}

	#manage-item > form > div > div > .side-by-side > .item {
		width: 100%;
	}

	#manage-item > form > div > div > .side-by-side > .item:not(:first-child) {
		margin-left: 0;
	}

	#manage-item > form > div > .required > .side-by-side > .item > .field.sum > div,
	#manage-budget > form > div > .required > .side-by-side > .item > .field.sum > div {
		width: 100%;
	}

	#manage-item > form > div > .required > .side-by-side > .item.expense > .field.sum > div:not(.icon) > [name="field-sum"] {
		width: calc(100% - (65px + 10px));
	}

	#manage-item > form > div > .required > .side-by-side.options {
		border-bottom: 0;
		margin-bottom: 30px;
		padding-bottom: 0;
	}

	#manage-item > form > .button {
		border-top: 0;
		margin-top: 10px;
		padding-top: 0;
		padding-left: 0;
	}

	#budget > .side-by-side > .item {
		border: 1px dashed var(--line);
		border-radius: 5px;
		margin: 20px 0;
		padding: 10px;
		position: relative;
		width: 100%;
	}



	#settings > form > div,
	#manage-budget > form > div {
		flex-direction: column;
	}

	#settings > form > .button {
		background-color: var(--bg_opacity);
		border-top: 0;
		backdrop-filter: blur(10px);
		bottom: 0;
		margin: 10px -10px 0 -10px;
		padding: 20px;
		position: sticky;
		z-index: 9999;
	}

	#settings > form > .button > input {
		margin: 0 auto;
	}

	#settings > form > div > div:not(.account),
	#manage-budget > form > div > .optionally {
		margin: 0;
		margin-top: 50px;
	}

	#settings > form > div > div > div:not(.cover),
	#manage-budget > form > div > div > div {
		flex-direction: column;
	}

	form > .item, form > div > .item,
	form > div > div > .item,
	form > div > div > .side-by-side > .item {
		width: 100%;
	}

	#settings > form > div > .account {
		width: calc(100% - (10px * 2));
	}

	#settings > form > div > .economy {
		width: 100%;
	}

	#settings > form > div > div > .side-by-side > .item > .field > div:not(.icon) {
		width: 100%;
	}

	#settings > form > div > .account > .side-by-side > .item > .field > [name="field-username"],
	#settings > form > div > .account > .side-by-side > .item > .field > [name="field-email"],
	#settings > form > div > .account > .side-by-side > .item > .field > [name="field-password-new"],
	#settings > form > div > .account > .side-by-side > .item > .field > [name="field-password-repeat"],
	#settings > form > div > .account > .side-by-side > .item > .field > [name="field-password-current"],
	#settings > form > div > .economy > .side-by-side > .item > .field > div > [name="field-sum-income"],
	#settings > form > div > .economy > .side-by-side > .item > .field > div > [name="field-sum-balance"],
	#settings > form > div > .economy > .side-by-side > .item > .field > div > [name="field-sum-savings"],
	#settings > form > div > .economy > .side-by-side > .item > .field > [name="field-period-start"],
	#settings > form > div > .economy > .side-by-side > .item > .field > [name="field-period-end"],
	#settings > form > div > .economy > .side-by-side > .item > .field > [name="list-language"],
	#settings > form > div > .economy > .side-by-side > .item > .field > [name="list-currency"],
	#settings > form > div > .economy > .side-by-side > .item > .field > [name="list-theme"],
	#settings > form > div > .economy > .side-by-side > .item > .field > [name="field-incomeday"],
	#manage-item > form > div > .required > .side-by-side > .item.expense > .field > [name="field-name"],
	#manage-item > form > div > .required > .side-by-side > .item.debt > .field > [name="field-name"],
	#manage-item > form > div > .required > .side-by-side > .item.loan > .field > [name="field-name"],
	#manage-item > form > div > .optionally > .side-by-side > .item > .field > [name="field-number"],
	#manage-item > form > div > .optionally > .side-by-side > .item > .field > [name="field-number-ocr"],
	#manage-item > form > div > .required > .side-by-side > .item > .field > [name="list-accounts"],
	#manage-item > form > div > .required > .side-by-side > .item > .field > [name="list-types"],
	#manage-item > form > div > .required > .side-by-side > .item > .field > [name="list-categories"],
	#manage-item > form > div > .required > .side-by-side > .item > .field.sum > div:not(.icon) > [name="field-sum"].no-currency,
	#manage-item > form > div > .optionally > .side-by-side > .item > .field > [name="field-sum-permonth"],
	#manage-item > form > div > .optionally > .side-by-side > .item > .field > [name="field-contact-phone"],
	#manage-budget > form > div > .required > .side-by-side > .item > .field > [name="field-name"],
	#manage-budget > form > div > .required > .side-by-side > .item > .field.sum > div:not(.icon) > [name="field-sum-goal"] {
		width: 100%;
	}

	#settings > form > div > .account > .side-by-side > .item.email,
	#settings > form > div > .account > .side-by-side > .item.password-repeat,
	#settings > form > div > .economy > .side-by-side > .item.balance,
	#settings > form > div > .economy > .side-by-side > .item.savings,
	#settings > form > div > .economy > .side-by-side > .item.period,
	#settings > form > div > .economy > .side-by-side > .item.incomeday,
	#settings > form > div > .economy > .side-by-side > .item.currency,
	#settings > form > div > .economy > .side-by-side > .item.theme,
	#manage-item > form > div > .optionally > .side-by-side > .item.phone {
		margin-top: 10px;
		margin-left: 0;
	}

	#manage-item > form > div > .required > .side-by-side > .item:not(:first-child),
	#manage-item > form > div > .optionally > .side-by-side > .item.ocr,
	#manage-item > form > div > .optionally > .side-by-side > .item.sum-interest,
	#manage-item > form > div > .optionally > .side-by-side > .item.sum-adminfee,
	#manage-budget > form > div > .required > .side-by-side > .item.sum {
		margin-left: 0;
	}

	#settings > #extra {
		flex-direction: column;
	}

	#settings > #extra > .sessions,
	#settings > #extra > .manage-data {
		width: 100%;
	}

	#settings > #extra > .manage-data {
		margin-top: 50px;
		margin-left: 0;
	}

	#settings > form > div > .account > .tfa-disabled > div {
		flex-direction: column;
	}

	#settings > form > div > .account > .tfa-disabled > div > .qr-code {
		margin: 0 auto 20px auto;
	}

	#settings > form > div > .account > .tfa-disabled > div > .secret {
		margin-left: 0;
		width: 100%;
	}

	#settings > form > div > .account > .tfa-disabled > div > .secret > .secret {
		margin-top: 10px;
		margin-left: 10px;
	}

	#settings > form > div > .account > .tfa-disabled > div > .secret > .item {
		margin-top: 20px;
	}

	#settings > #extra > .sessions > .items > .moreinfo > .events > .itemset > .action {
		width: 100%;
	}

	#manage-budget > form > div > .required,
	#manage-budget > form > div > .optionally {
		width: 100%;
	}

	#manage-budget > form > .button {
		flex-direction: row;
		padding-left: 0;
	}



	form > .item:not(:first-child),
	form > div > .item:not(:first-child),
	form > div > div > .item:not(:first-child),
	form > div > div > .side-by-side > .item:not(:first-child) {
		margin-top: 10px;
	}



	.marginleft-10 {
		margin-left: 0;
	}

}







@media only screen and (max-width: 640px) {

	#settings > #extra > .sessions > .items > .itemset > .ipaddress {
		display: none;
	}

	#settings > #extra > .sessions > .items > .itemset > .browser {
		width: 100%;
	}

	#settings > #extra > .sessions > .items > .itemset > .os {
		width: 100%;
	}

	#welcome > .left > .showcase {
		justify-content: center;
	}

}







@media only screen and (max-width: 490px) {

	#settings > #extra > .sessions > .items > .itemset > .browser {
		width: 100%;
	}

	#settings > #extra > .sessions > .items > .itemset > .os {
		display: none;
	}

	#settings > #extra > .sessions > .items > .moreinfo > .events > .itemset {
		flex-direction: column;
		padding: 10px 0;
	}

	#settings > #extra > .sessions > .items > .moreinfo > .events > .itemset > .datetime {
		margin-bottom: 5px;
		margin-left: 30px;
	}

}







@media only screen and (max-width: 490px) {

	footer {
		display: flex !important;
		flex-direction: column !important;
	}

	footer > .text {
		margin-left: 0;
	}

}







@media only screen and (max-width: 430px) {

	#welcome > .right > nav {
		font-size: 116%;
	}

	#welcome > .right > nav > a {
		display: block;
		padding: 5px;
	}

	#list > div > .details > .content > .info > .side-by-side {
		flex-direction: column;
	}

	#list > div > .details > .content > .info > .side-by-side > .item {
		padding: 10px 0;
		width: 100%;
	}

}







@media only screen and (max-width: 410px) {

	#settings > #extra > .sessions > .items > .itemset > .browser {
		display: none;
	}

}