:root {
	--bg: #272e33;
	--text: #e8e5d5;
	--menu_hover: #232a2e;
	--menu_icons: #232a2e;
	--menu_icons_active: #343f44;
	--menu_icons_hover: #2d353b;
	--line: #495156;

	--field_bg: #1e2326;
	--field_border: #414b50;
	--field_border_focused: #9da9a0;
	--submit_bg: #7fbbb3;
	--submit_text: #1e2326;

	--red: #e67e80;
	--green: #a7c080;
	--blue: #7fbbb3;
	--yellow: #dbbc7f;
	--orange: #e69875;
	--purple: #d699b6;
	--dark: #111111;
	--grey: #859289;

	--bg_opacity: rgba(39, 46, 51, .7);
	--bg_darker: #2d353b;
	--bg_darker_opacity: rgba(45, 53, 59, .5);
	--progress_percentage: #384b55;
	--mark: #1e2326;
	--highlight_period: #333c43;
	--highlight_today: #9da9a0;

	--icon_select: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-selector" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="rgba(255,255,255,1)" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M8 9l4 -4l4 4"></path><path d="M16 15l-4 4l-4 -4"></path></svg>');

	--img_lined: url(../images/lined-dark-everforest.webp);
}