:root {
	--bg: #282a36;
	--text: #f8f8f2;
	--menu_hover: #21222c;
	--menu_icons: #21222c;
	--menu_icons_active: #44475a;
	--menu_icons_hover: #282a36;
	--line: #44475a;

	--field_bg: #282a36;
	--field_border: #6272a4;
	--field_border_focused: #6272a4;
	--submit_bg: #8be9fd;
	--submit_text: #1e2326;

	--red: #ff6e6e;
	--green: #87ffaf;
	--blue: #8be9fd;
	--yellow: #f4f49e;
	--orange: #ffb86c;
	--purple: #df69ba;
	--dark: #111111;
	--grey: #6272a4;

	--bg_opacity: rgba(40, 42, 54, .7);
	--bg_darker: #21222c;
	--bg_darker_opacity: rgba(33, 34, 44, .5);
	--progress_percentage: #384b55;
	--mark: #21222c;
	--highlight_period: #44475a;
	--highlight_today: #9da9a0;

	--icon_select: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-selector" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="rgba(255,255,255,1)" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M8 9l4 -4l4 4"></path><path d="M16 15l-4 4l-4 -4"></path></svg>');

	--img_lined: url(../images/lined-dark-dracula.webp);
}