:root {
	--bg: #1a1b26;
	--nav: #1f2335;
	--text: #e8e5d5;
	--menu_hover: #16161e;
	--menu_icons: #16161e;
	--menu_icons_active: #292e42;
	--menu_icons_hover: #1f2335;
	--line: #545c7e;

	--field_bg: #1e2030;
	--field_border: #3b4261;
	--field_border_focused: #7a88cf;
	--submit_bg: #7dcfff;
	--submit_text: #1e2326;

	--red: #f7768e;
	--green: #9ece6a;
	--blue: #7aa2f7;
	--yellow: #e0af68;
	--orange: #ff9e64;
	--purple: #9d7cd8;
	--dark: #111111;
	--grey: #737aa2;

	--bg_opacity: rgba(26, 27, 38, .7);
	--bg_darker: #16161e;
	--bg_darker_opacity: rgba(22, 22, 30, .5);
	--progress_percentage: #545c7e;
	--mark: #16161e;
	--highlight_period: #292e42;
	--highlight_today: #9da9a0;

	--icon_select: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-selector" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="rgba(255,255,255,1)" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M8 9l4 -4l4 4"></path><path d="M16 15l-4 4l-4 -4"></path></svg>');

	--img_lined: url(../images/lined-dark-tokyonight.webp);
}