:root {
	--bg: #fffbef;
	--text: #1e2326;
	--menu_hover: #f2efdf;
	--menu_icons: #f2efdf;
	--menu_icons_active: #e0dcc7;
	--menu_icons_hover: #e6e2cc;
	--line: #708089;

	--field_bg: #fffbef;
	--field_border: #e5dfc5;
	--field_border_focused: #9da9a0;
	--submit_bg: #3a94c5;
	--submit_text: #fffbef;

	--red: #f85552;
	--green: #8da101;
	--blue: #3a94c5;
	--yellow: #dfa000;
	--orange: #f57d26;
	--purple: #df69ba;
	--dark: #111111;
	--grey: #939f91;

	--bg_opacity: rgba(255, 251, 239, .7);
	--bg_darker: #f2efdf;
	--bg_darker_opacity: rgba(242, 239, 223, .5);
	--progress_percentage: #425047;
	--mark: #edeada;
	--highlight_period: #f2efdf;
	--highlight_today: #5c6a72;

	--icon_select: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-selector" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M8 9l4 -4l4 4"></path><path d="M16 15l-4 4l-4 -4"></path></svg>');

	--img_lined: url(../images/lined-light-everforest.webp);
}