#website > nav {
	display: none;
}

#welcome {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
}



#welcome > .form {
	margin-right: 50px;
	min-width: 350px;
	width: 350px;
}

#welcome > .form > nav {
	margin-top: 5px;
	margin-bottom: 25px;
	text-align: center;
}

#welcome > .form > nav > a {
	border-radius: 5px;
	color: var(--text);
	outline: none;
	margin: 0 2.5px;
	padding: 5px 10px;
}

#welcome > .form > nav > a:focus,
#welcome > .form > nav > a:hover {
	background-color: var(--menu_hover);
	border-radius: 5px;
	text-decoration: none;
}

#welcome > .form > nav > .active {
	background-color: var(--menu_hover);
	color: var(--yellow);
	text-decoration: none;
}

#welcome > .form > div:not(.login) {
	display: none;
}



#welcome > .form > .login > form > .item.tfa {
	display: none;
}

#welcome > .form > .login > form > .item.tfa.debugging {
	display: block;
}



#welcome > .form > .login > .remove-tfa {
	margin-top: 25px;
}

#welcome > .form > .login > .remove-tfa > a {
	padding: 5px;
}

#welcome > .form > .login > .remove-tfa > a > svg {
	margin-right: 10px;
}

#welcome > .form > .login > .remove-tfa > a > svg > path:not(:first-child) {
	stroke: var(--text);
}

#welcome > .form > .login > .remove-tfa > .button > .cancel {
	padding: 10px;
}

#welcome > .form > .login > .demo-account {
	margin-top: 50px;
}



#welcome > .intro > h3 {
	margin: 15px 0 0 0;
}

#welcome > .intro {
	border-left: 1px dashed var(--line);
	padding-left: 50px;
}

#welcome > .intro > p > img {
	object-fit: scale-down;
	width: 100%;
}