#privacy-policy {
	margin: 0 auto;
	width: 700px;
}

#privacy-policy > p {
	text-align: left;
}

#privacy-policy > nav {
	margin-bottom: 50px;
}

#privacy-policy > nav > a {
	padding: 10px;
}

#privacy-policy > nav > a > svg {
	margin-right: 10px;
	width: 21px;
}

#privacy-policy > nav > a > svg > path:not(:first-child) {
	stroke: var(--text);
}

#privacy-policy > h1 {
	margin: 0;
}

#privacy-policy > h2:not(:first-of-type) {
	margin-top: 100px;
}

#privacy-policy > h3 {
	margin-bottom: 0;
}