.checkboxes {
	padding: 0;
}

.checkboxes > .sub {
	margin-left: 27px;
}

.checkboxes > .space {
	margin: 15px 0;
}



#settings > h1 {
	margin-bottom: 20px;
}

#settings > form > div {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
}

#settings > form > div > div > div:not(.cover) {
	position: relative;
	z-index: 5;
}

#settings > form > div > div > h2,
#settings > #extra > .manage-data > .import > h2 {
	margin-top: 50px;
}

#settings > form > div > div > h2:not(.info-below) {
	margin-bottom: 15px;
}

#settings > form > div > div > .first {
	margin-top: 0 !important;
	margin-bottom: 15px;
}

#settings > form > div > div > .first > .wit {
	margin-top: -5px;
	margin-right: 5px;
	padding: 5px;
}

#settings > form > div > div > .info-below {
	margin-bottom: 5px;
}

#settings > form > div > div > .information {
	margin-bottom: 20px;
}



#settings > form > div > .account {
	background-color: var(--bg_darker);
	border-radius: 5px;
	padding: 10px;
	width: inherit;
}

#settings > form > div > .account > .side-by-side:not(:first-child) {
	margin-top: 10px;
}

#settings > form > div > .account > .side-by-side > .item.email,
#settings > form > div > .account > .side-by-side > .item.password-repeat,
#settings > form > div > .economy > .side-by-side > .item.balance,
#settings > form > div > .economy > .side-by-side > .item.savings,
#settings > form > div > .economy > .side-by-side > .item.period,
#settings > form > div > .economy > .side-by-side > .item.incomeday,
#settings > form > div > .economy > .side-by-side > .item.currency,
#settings > form > div > .economy > .side-by-side > .item.theme {
	margin-left: 10px;
}

#settings > form > div > .account > .side-by-side > .item > .field > [name="field-username"] {
	width: 150px;
}

#settings > form > div > .account > .side-by-side > .item > .field > [name="field-email"] {
	width: 205px;
}

#settings > form > div > .account > .side-by-side > .item > .field > [name="field-password-new"],
#settings > form > div > .account > .side-by-side > .item > .field > [name="field-password-repeat"] {
	width: 186px;
}

#settings > form > div > .account > .side-by-side.last {
	border-bottom: 1px dashed var(--line);
	margin-bottom: 15px;
	padding-bottom: 20px;
}

#settings > form > div > .account > .tfa-disabled.hidden,
#settings > form > div > .account > .tfa-backup,
#settings > form > div > .account > .tfa-enabled.hidden {
	display: none;
}

#settings > form > div > .account > .tfa-disabled > div {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
}

#settings > form > div > .account > .tfa-disabled > div > .qr-code {
	height: auto;
	width: 180px;
}

#settings > form > div > .account > .tfa-disabled > div > .qr-code > canvas {
	border-radius: 5px;
	height: 180px !important;
	width: 180px !important;
}

#settings > form > div > .account > .tfa-disabled > div > .secret {
	margin-left: 20px;
	width: 280px;
}

#settings > form > div > .account > .tfa-disabled > div > .secret > .secret {
	margin-top: 10px;
	font-weight: 700;
}

#settings > form > div > .account > .tfa-disabled > div > .secret > .item {
	margin-top: 20px;
}



#settings > form > div > .account > .tfa-backup > .code {
	color: var(--yellow);
	font-size: 110%;
	letter-spacing: 5px;
	text-align: center;
}

#settings > form > div > .account > .tfa-backup > .text {
	margin-top: 20px;
}



#settings > form > div > .account > .tfa-enabled > .remove {
	display: block;
	padding: 10px;
	text-align: center;
}

#settings > form > div > .account > .tfa-enabled > .remove:hover,
#settings > form > div > .account > .tfa-enabled > .remove:active {
	background-color: var(--bg);
}



#settings > form > div > .account > .tfa-status {
	display: none;
	padding: 20px 30px;
}

#settings > form > div > .account > .tfa-status > div {
	display: none;
}

#settings > form > div > .account > .tfa-status > .removed,
#settings > form > div > .account > .tfa-status > .added {
	color: var(--green);
}

#settings > form > div > .account > .tfa-status > .retry {
	color: var(--red);
}

#settings > form > div > .account > .tfa-status > .working {
	margin: 0 auto;
	width: 38px;
}

#settings > form > div > .account > .tfa-status > .working > svg {
	animation: rotation 1s infinite linear;
	width: 38px;
}

#settings > form > div > .account > .tfa-status > .removed > .information {
	color: var(--text);
}



#settings > form > div > .economy {
	margin-left: 60px;
	width: 470px;
}

#settings > form > div > .economy > .update-expiration-dates {
	margin-top: 20px;
	margin-left: 5px;
}

#settings > form > div > .economy > .update-expiration-dates > div:not(.fill-in-first) {
	display: none;
}

#settings > form > div > .economy > .update-expiration-dates > * > svg {
	margin-right: 10px;
}

#settings > form > div > .economy > .update-expiration-dates > .reload-page-first,
#settings > form > div > .economy > .update-expiration-dates > .fill-in-first {
	cursor: not-allowed;
}

#settings > form > div > .economy > .update-expiration-dates > .ishidden {
	display: none;
}

#settings > form > div > .economy > .side-by-side > .item > .field > div > [name="field-sum-income"],
#settings > form > div > .economy > .side-by-side > .item > .field > div > [name="field-sum-balance"],
#settings > form > div > .economy > .side-by-side > .item > .field > div > [name="field-sum-savings"] {
	width: 82px;
}

#settings > form > div > .economy > .side-by-side > .item > .field > [name="field-period-start"],
#settings > form > div > .economy > .side-by-side > .item > .field > [name="field-period-end"] {
	width: 120px;
}

#settings > form > div > .economy > .side-by-side > .item > .field > [name="field-incomeday"] {
	width: 60px;
}

#settings > form > div > .economy > .side-by-side > .item > .field > [name="list-language"] {
	width: 70px;
}

#settings > form > div > .economy > .side-by-side > .item > .field > [name="list-currency"] {
	width: 60px;
}

#settings > form > div > .economy > .side-by-side > .item > .field > [name="list-theme"] {
	width: 254px;
}

#settings > form > div > .economy > .side-by-side > .item > .field > .math {
	display: none;
	margin-top: 5px;
	margin-left: 22px;
}

#settings > form > div > .economy > .side-by-side > .item > .field > .math > .equals {
	margin-right: 5px;
}

#settings > form > div > .economy > .checkboxes.period {
	margin-top: 10px;
}



#settings > form > .button {
	border-top: 1px dashed var(--line);
	margin-top: 30px;
	padding-top: 30px;
	padding-left: 30px;
}







#settings > #extra {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	margin-top: 100px;
}

#settings > #extra > div > .information,
#settings > #extra > div > div > .information {
	margin-bottom: 30px;
}

#settings > #extra > .sessions {
	width: 600px;
}

#settings > #extra > .sessions > .clean-sessions {
	margin-bottom: 20px;
	margin-left: 3px;
}

#settings > #extra > .sessions > .clean-sessions.inactive {
	cursor: not-allowed;
	opacity: .5;

	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
}

#settings > #extra > .sessions > .clean-sessions > svg,
#settings > #extra > .sessions > .clean-sessions > a > svg,
#settings > #extra > .sessions > .clean-sessions > span > svg {
	margin-right: 10px;
}

#settings > #extra > .sessions > .items > div {
	align-items: center;
	display: flex;
	flex-direction: row;
}

#settings > #extra > .sessions > .items > .itemset > div {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#settings > #extra > .sessions > .items > .itemset.head > div {
	font-weight: 700;
}

#settings > #extra > .sessions > .items > .itemset > .options {
	flex-shrink: 0;
	width: 65px;
}

#settings > #extra > .sessions > .items > .itemset > .options > .wait {
	display: none;
	margin: 4px 3px 0 3px;
}

#settings > #extra > .sessions > .items > .itemset > .options > .delete.inactive {
	cursor: not-allowed;
	display: inline-block;
	margin: 4px 3px 0 3px;
	opacity: .3;
}

#settings > #extra > .sessions > .items > .itemset > .options > .show.less {
	display: none;
}

#settings > #extra > .sessions > .items > .itemset > .last-action {
	flex-shrink: 0;
	width: 140px;
}

#settings > #extra > .sessions > .items > .itemset > .ipaddress {
	margin-right: 10px;
	width: 140px;
}

#settings > #extra > .sessions > .items > .itemset > .browser {
	margin-right: 10px;
	width: 140px;
}

#settings > #extra > .sessions > .items > .itemset > .os {
	width: 100px;
}

#settings > #extra > .sessions > .items > .itemset > .options > a {
	padding: 5px 3px;
}



#settings > #extra > .sessions > .items > .moreinfo {
	border-left: 2px solid var(--line);
	display: none;
	margin: 10px 0 0 12px;
	padding: 10px 10px 10px 20px;
}

#settings > #extra > .sessions > .items > .moreinfo:not(:last-child) {
	margin-bottom: 40px;
}

#settings > #extra > .sessions > .items > .moreinfo > .events {
	margin-top: 20px;
}

#settings > #extra > .sessions > .items > .moreinfo > .events > .itemset {
	display: flex;
	flex-direction: row;
	padding: 3px 0;
}

#settings > #extra > .sessions > .items > .moreinfo > .events > .itemset > .datetime {
	flex-shrink: 0;
	width: 150px;
}

#settings > #extra > .sessions > .items > .moreinfo > .events > .itemset > .action {
	width: 440px;
}

#settings > #extra > .sessions > .items > .moreinfo > .events > .itemset > .action > svg {
	margin-right: 10px;
	stroke: var(--yellow);
}



#settings > #extra > .manage-data {
	margin-left: 60px;
	width: calc(426px - 60px);
}

#settings > #extra > .manage-data > .item > a {
	padding: 5px;
}

#settings > #extra > .manage-data > .item > a > svg {
	margin-top: 1px;
	margin-right: 10px;
	vertical-align: top;
}


#settings > #extra > .manage-data > .item > .export {
	display: inline-block;
	padding: 0 1px 0 5px;
}

#settings > #extra > .manage-data > .item > .export > svg {
	margin-top: 1px;
	margin-right: 10px;
	vertical-align: top;
}



#settings > #extra > .manage-data > .import {
	margin-top: 30px;
}

#settings > #extra > .manage-data > .import > h2 {
	margin-bottom: 10px;
}

#settings > #extra > .manage-data > .import > form > .filelabel > [name="file"],
#settings > #extra > .manage-data > .import > form > .filelabel > .info {
	display: none;
}

#settings > #extra > .manage-data > .import > form > .filelabel > .browse > .icon {
	background-color: var(--bg);
	border: 1px solid var(--field_border);
	border-right: 0;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	min-height: 18px;
	height: 18px;
	flex-grow: 1;
	line-height: 130%;
	padding: 5px;
}

#settings > #extra > .manage-data > .import > form > .filelabel > .browse > .text {
	background-color: var(--field_bg);
	border: 1px solid var(--field_border);
	border-left: 0;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
	cursor: pointer;
	min-height: 18px;
	line-height: 130%;
	padding: 5px;
	width: 100%;
}







.width-sum-original {
	width: 82px !important;
}

.width-sum-extended {
	width: 382px !important;
}