#budget > h1 {
	margin-bottom: 15px;
}

#budget > nav {
	margin-bottom: 40px;
}

#budget > nav > #add {
	color: var(--green);
	font-weight: 700;
	margin-left: -5px;
	padding: 5px;
}

#budget > nav > #add > svg {
	color: var(--text);
	font-weight: 400;
	margin-right: 10px;
}



#budget > .updating {
	background-color: var(--dim);
	backdrop-filter: blur(6px);
	color: var(--yellow);
	display: none;
	font-size: 130%;
	font-weight: 700;
	padding: 100px 30px;
	position: absolute;
	text-align: center;
	width: calc(100% - 60px);
	z-index: 9999;
}

#budget > .updating > .error {
	display: none;
	color: var(--red);
}



#budget > .side-by-side {
	flex-shrink: 0;
	flex-wrap: wrap;
}

#budget > .side-by-side > .item {
	border: 1px dashed var(--line);
	border-radius: 5px;
	margin: 10px;
	padding: 10px;
	position: relative;
	width: calc(50% - 45px);
}

#budget > .side-by-side > .item > h2 > .move {
	cursor: move;
	margin-left: -10px;
	padding: 10px;
}

#budget > .side-by-side > .item > .done {
	background-color: var(--main);
	border-radius: 100%;
	right: 5px;
	padding: 10px;
	position: absolute;
	top: -20px;
	z-index: 99;
}

#budget > .side-by-side > .item > .done > svg {
	width: 24px;
}

#budget > .side-by-side > .item > .done > svg > path:not(:first-child) {
	stroke: var(--yellow);
}

#budget > .side-by-side > .item > h2 {
	margin: 0 0 15px 0;
}

#budget > .side-by-side > .item > .progress {
	background-color: var(--bg_darker);
	border-radius: 2px;
	height: 20px;
	position: relative;
	width: 100%;
}

#budget > .side-by-side > .item > .progress > .percentage {
	background-color: var(--progress_percentage);
	border-radius: 2px;
	height: 100%;
	position: absolute;
}

#budget > .side-by-side > .item > .progress > .percentage > .text {
	background-color: var(--bg_darker);
	border-radius: 5px;
	font-size: 88%;
	margin-top: 25px;
	margin-left: calc(100% - 13px - 3px);
	line-height: 100%;
	padding: 5px;
	position: absolute;
	text-align: center;
	width: 25px;
}

#budget > .side-by-side > .item > .sums {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 10px;
}

#budget > .side-by-side > .item > .sums > div > svg {
	margin-left: 5px;
	width: 20px;
}

#budget > .side-by-side > .item > .months-left {
	margin-top: 40px;
	opacity: .7;
}

#budget > .side-by-side > .item > .notes {
	position: relative;
}

#budget > .side-by-side > .item > .notes > p {
	text-align: left;
}

#budget > .side-by-side > .item > .options {
	align-items: center;
	background-color: var(--bg_darker);
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	margin: 10px -5px -5px -5px;
	justify-content: space-between;
	padding: 5px;
	text-align: center;
}

#budget > .side-by-side > .item > .options > div > a {
	padding: 5px;
}

#budget > .side-by-side > .item > .options > div > a:hover {
	background-color: var(--menu_icons_hover);
}

#budget > .side-by-side > .item > .options > div > .inactive {
	cursor: not-allowed;
	display: inline-block;
	opacity: .4;
	padding: 0 5px;
}



#budget > .side-by-side > .item > .msg > div {
	margin: 20px 0 0 0;
}

#budget > .side-by-side > .item > form {
	background-color: var(--bg_darker);
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	display: none;
	margin: 10px -5px -5px -5px;
	padding: 10px;
}

#budget > .side-by-side > .item > form > .item:not(:first-child) {
	margin-top: 0;
}

#budget > .side-by-side > form > .item {
	padding: 0;
}

#budget > .side-by-side > form > .item > .field > [name="field-sum"] {
	width: 100%;
}

#budget > .side-by-side > .item > form > .checkboxes {
	padding: 10px 0;
}

#budget > .side-by-side > .item > form > .cancel {
	margin-left: 10px;
	padding: 5px;
}







.chosen-item {
	opacity: .1 !important;
}

.dragged-item {
	background-color: var(--main);
	opacity: 1 !important;
}