#list > h1 {
	margin-bottom: 15px;
}

#list > h1.viewing-expenses {
	margin-bottom: 10px;
}

#list > nav {
	margin-bottom: 40px;
}

#list > nav > .manage > #add {
	color: var(--green);
	font-weight: 700;
	margin-left: -5px;
	padding: 5px;
}

#list > nav > .manage > #add > svg {
	color: var(--text);
	font-weight: 400;
	margin-right: 10px;
}

#list > nav > .links {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	line-height: 100%;
	margin-top: 10px;
}

#list > nav > .links > div {
	display: flex;
	flex-wrap: wrap;
}

#list > nav > .links > div > svg {
	flex-shrink: 0;
	margin-top: 2px;
	margin-right: 5px;
}

#list > nav > .links > div > a {
	padding: 5px;
}

#list > nav > .links > div > .active {
	font-weight: 700;
	text-decoration-color: var(--text);
}

#list > nav > .links > div > .inactive {
	cursor: not-allowed;
	opacity: .7;
	padding: 5px;
}

#list > div:not(.accounts) {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	position: relative;
	overflow-x: auto;
	overflow-y: hidden;
	width: 100%;
}



#list > .accounts {
	margin-bottom: 20px;
}

#list > .accounts > div > svg,
#list > .accounts > div > .link > svg {
	margin-right: 5px;
}

#list > .accounts > .side-by-side,
#list > .accounts > div > .side-by-side {
	align-items: center;
}

#list > .accounts > div > a,
#list > .accounts > div > .link > a {
	padding: 5px;
}

#list > .accounts > .add-account {
	align-items: center;
	display: flex;
	flex-direction: row;
}

#list > .accounts > .add-account > form {
	display: none;
	margin-bottom: 20px;
	margin-left: -5px;
}

#list > .accounts > .add-account > form > .item > .field > [type="text"] {
	width: 200px;
}

#list > .accounts > .add-account > form > .checkboxes {
	padding: 5px 0;
}

#list > .accounts > .add-account > form > .button {
	margin-top: 3px;
}

#list > .accounts > .add-account > form > .button.save {
	display: none;
}

#list > .accounts > .add-account > form > .button > .cancel {
	padding: 10px;
}


#list > .accounts > .list-accounts > div,
#list > .accounts > .manage-account > div {
	display: inline-block;
}

#list > .accounts > .list-accounts > div > .empty {
	opacity: .7;
	padding: 5px;
}

#list > .accounts > .list-accounts > div > a,
#list > .accounts > .manage-account > div > a {
	padding: 5px;
}

#list > .accounts > .list-accounts > div > .active {
	font-weight: 700;
	text-decoration-color: var(--text);
}



#list > div:not(.accounts) > .list {
	border-right: 1px dashed var(--line);
	padding-right: 30px;
	width: 51%;
}

#list > div:not(.accounts) > .list.all {
	border-right: 0;
	padding-right: 0;
	width: 100%;
}

#list > div > .list > .items > div {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
}

#list > div > .list > .items > div > .date {
	min-width: 80px;
	max-width: 80px;
	width: 80px;
}

#list > div > .list > .items > div > .type {
	min-width: 100px;
	max-width: 100px;
	width: 100px;
}

#list > div > .list > .items > div > .name {
	justify-content: flex-start;
}

#list > div > .list > .items > div > .sum {
	flex-shrink: 0;
}

#list > div > .list > .items > div > div:not(.side-by-side) {
	padding: 5px 10px;
}

#list > div > .list > .items > .data > .side-by-side {
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

#list > div > .list > .items > .data > .side-by-side > .name {
	align-items: center;
	display: flex;
	padding: 0 10px;
}



#list > div > .list > .items > .data > div {
	padding: 5px 0;
}

#list > div > .list > .items > .data:nth-child(odd) > div {
	background-color: var(--bg_darker);
}

#list > div > .list > .items > .data > .side-by-side > .name {
	min-width: 200px;
}

#list > div > .list > .items > .data > .side-by-side > .name > div {
	display: flex;
	flex-direction: row;
}

#list > div > .list > .items > .data > .side-by-side > .name > .status:not(.icon) {
	text-decoration: var(--green) wavy line-through;
}

#list > div > .list > .items > .data > .side-by-side > .name > .wait {
	margin-right: 7px;
	margin-left: -3px;
}

#list > div > .list > .items > .data > .side-by-side > .name > .status {
	margin-right: 5px;
	margin-left: -5px;
}

#list > div > .list > .items > .data > .side-by-side > .name > .status.not-payed {
	opacity: .3;
}

#list > div > .list > .items > .data > .side-by-side > .name > .status.payed {
	opacity: 1;
}

#list > div > .list > .items > .data > .side-by-side > .name > .status:hover {
	opacity: .7;
}

#list > div > .list > .items > .data > .side-by-side > .name > .status > a > svg {
	stroke: var(--green);
}

#list > div > .list > .items > .data > .side-by-side > .name > div > svg {
	margin-top: 2px;
	width: 16px;
}

#list > div > .list > .items > .data > .side-by-side > .name > div > div > svg {
	margin-top: 2px;
	opacity: .4;
	width: 18px;
}

#list > div > .list > .items > .data > .side-by-side > .name > div > .icons {
	margin-right: 10px;
}

#list > div > .list > .items > .data > .side-by-side > .name > div > .icons > div > svg {
	margin-top: 2px;
	opacity: .4;
	width: 18px;
}

#list > div > .list > .items > .data > .side-by-side > .name > div > .showinfo {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#list > div > .list > .items > .data > .side-by-side > .sum {
	min-width: 100px;
	text-align: right;
}



#list > div > .list > .items > .summary {
	border-top: 1px dashed var(--line);
	justify-content: space-between;
	margin-top: 20px;
	padding-top: 15px;
}

#list > div > .list > .items > .summary > .total {
	min-width: 290px;
	padding: 5px 10px;
}

#list > div > .list > .items > .summary > .total.no-date {
	min-width: 180px;
}

#list > div > .list > .items > .summary > .sum {
	font-weight: 700;
	text-align: right;
}

#list > div > .list > .items > .summary > .sum {
	padding-right: 0;
}



#list > div > .list > .items > .head > div {
	font-weight: 700;
}



#list > div > .details {
	margin-top: 10px;
	margin-left: 30px;
	max-width: calc(500px - (30px * 2));
	position: relative;
	width: calc(500px - (30px * 2));
}

#list > div > .details > .message > span {
	font-size: 114%;
	opacity: .7;
	padding: 20px 0;
	text-align: center;
}

#list > div > .details > .message > .loading {
	display: none;
}

#list > div > .details > .content > .payed {
	color: var(--green);
	border: 3px solid var(--green);
	border-radius: 5px;
	font-size: 4rem;
	font-weight: 700;
	line-height: 100%;
	opacity: .1;
	padding: 8px 10px 10px 10px;
	position: absolute;
	right: 20px;
	text-transform: uppercase;
	transform: rotate(10deg);
	transform-origin: 0;
	top: 100px;
	z-index: 0;
}

#list > div > .details > .content > .payed.scr {
	top: 20px;
}

#list > div > .details > .content > *:not(.payed) {
	position: relative;
	z-index: 10;
}

#list > div > .details > .content > h2 {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 0;
}

#list > div > .details > .content > h2 > div > .sum {
	color: var(--yellow);
	margin-top: 5px;
}

#list > div > .details > .content > h2 > div > .sum > span > svg {
	margin: 0 .4rem;
	width: 23px;
}

#list > div > .details > .content > h2 > div > .close {
	border-radius: 5px;
	padding: 10px 20px;
	transition: none !important;
}

#list > div > .details > .content > h2 > div > .close:hover {
	background-color: var(--menu_icons);
}

#list > div > .details > .content > h2 > div > .close > svg {
	margin-top: 1px;
	vertical-align: top;
}

#list > div > .details > .content > nav {
	align-items: center;
	background-color: var(--menu_icons);
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 20px;
	padding: 5px;
}

#list > div > .details > .content > nav > div > a,
#list > div > .details > .content > nav > div > .status > a {
	border-radius: 4px;
	color: var(--text);
	margin: 0 2px;
	padding: 5px;
	transition: none !important;
}

#list > div > .details > .content > nav > div > a:first-child {
	margin-left: 0;
}

#list > div > .details > .content > nav > div > a:last-child {
	margin-right: 0;
}

#list > div > .details > .content > nav > div > a:not(.active):hover,
#list > div > .details > .content > nav > div > div > div > a:hover,
#list > div > .details > .content > nav > div > .status > a:hover {
	background-color: var(--menu_icons_hover);
}

#list > div > .details > .content > nav > div > a > svg,
#list > div > .details > .content > nav > div > span > svg,
#list > div > .details > .content > nav > div > .status > a > svg {
	vertical-align: top;
}

#list > div > .details > .content > nav > div > .inactive {
	cursor: not-allowed;
	opacity: .2;
	padding: 5px;
}

#list > div > .details > .content > nav > div > .active {
	background-color: var(--menu_icons_active);
}

#list > div > .details > .content > nav > div > .wait {
	height: 29.5px;
	margin-right: 15px;
	padding: 1px 7px;
}

#list > div > .details > .content > nav > div > .status {
	margin-right: 15px;
}

#list > div > .details > .content > nav > div > .status.not-payed {
	opacity: .5;
}

#list > div > .details > .content > nav > div > .status.payed {
	opacity: 1;
}

#list > div > .details > .content > nav > div > .status:hover {
	opacity: .7;
}

#list > div > .details > .content > nav > div > .status > a > svg {
	stroke: var(--green);
}



#list > div > .details > .content > .info {
	margin-top: 30px;
}

#list > div > .details > .content > .info > .column:not(:last-child) {
	margin-bottom: 10px;
}

#list > div > .details > .content > .info > .column > .side-by-side {
	flex-wrap: wrap;
}

#list > div > .details > .content > .info > .column > .item,
#list > div > .details > .content > .info > .column > .side-by-side > .item {
	display: flex;
	flex-direction: column;
	padding: 10px 15px;
}

#list > div > .details > .content > .info > .column > .item > .label,
#list > div > .details > .content > .info > .column > .side-by-side > .item > .label {
	font-size: 94%;
	opacity: .8;
}

#list > div > .details > .content > .info > .column > .item > .value > .math {
	display: block;
	font-size: 82%;
	opacity: .7;
}

#list > div > .details > .content > .info > .qr-code > div > .swish {
	text-align: center;
}

#list > div > .details > .content > .info > .qr-code > div > .swish > canvas {
	border-radius: 5px;
}



#list > div > .details > .content > .info > div > h3 {
	margin: 0;
}



#list > div > .details > .content > .info > .notes {
	border-top: 1px dashed var(--line);
	margin-top: 30px;
	padding-top: 30px;
}

#list > div > .details > .content > .info > .notes > p {
	text-align: left;
}



#list > div > .details > .content > .info > .calc-months-left {
	margin-top: 20px;
}

#list > div > .details > .content > .info > .calc-months-left > .info {
	color: var(--blue);
	margin: 10px 0 20px 0;
}

#list > div > .details > .content > .info > .calc-months-left > .item {
	margin-top: 15px;
}

#list > div > .details > .content > .info > .calc-months-left > .item > .field > [name="field-sum-permonth"] {
	width: 200px;
}

#list > div > .details > .content > .info > .calc-months-left > .result {
	margin-top: 10px;
}

#list > div > .details > .content > .info > .calc-months-left > .result > .month {
	display: none;
}



#list > div > .details > .content > .info > .info {
	border-top: 1px dashed var(--line);
	margin-top: 30px;
	padding-top: 30px;
}

#list > div > .details > .content > .info > .info > div,
#list > div > .details > .content > .info > .info-status > div {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	padding: 5px 10px;
}

#list > div > .details > .content > .info > .info > div > div > svg,
#list > div > .details > .content > .info > .info-status > div > div > svg {
	margin-right: 10px;
}



#list > div > .details > .content > .info > .info-status {
	margin-top: 20px;
}

#list > div > .details > .content > .info > .info-status > .sure {
	color: var(--green);
}

#list > div > .details > .content > .info > .info-status > .not-sure {
	color: var(--orange);
}



#list > div > .details > .content > .info > .qr-code {
	border-top: 1px dashed var(--line);
	margin-top: 30px;
	padding-top: 30px;
}

#list > div > .details > .content > .info > .qr-code > div > .info {
	margin-bottom: 20px;
}

#list > div > .details > .content > .info > .qr-code > div > .code {
	height: 200px;
	margin: 20px auto;
	width: 200px;
}

#list > div > .details > .content > .info > .qr-code > .swish {
	height: 170px;
	margin: 20px auto;
	width: 170px;
}

#list > div > .details > .content > .info > .qr-code > .code > canvas,
#list > div > .details > .content > .info > .qr-code > .swish > canvas {
	border-radius: 5px;
}



#list > div > .details > .content > .users > .userlist {
	position: relative;
	overflow-x: auto;
	overflow-y: hidden;
	width: 100%;
}

#list > div > .details > .content > .users > .userlist > .item {
	padding: 3px 0;
}

#list > div > .details > .content > .users > .userlist > .item > div > .inactive {
	opacity: .3;
}

#list > div > .details > .content > .users > .userlist > .item.head {
	font-weight: 700;
}

#list > div > .details > .content > .users > .userlist > .item > .options {
	min-width: 65px;
	width: 65px;
}

#list > div > .details > .content > .users > .userlist > .item > .options > a {
	padding: 0 3px;
}

#list > div > .details > .content > .users > .userlist > .item > .options > .inactive {
	cursor: not-allowed;
	padding: 3px;
}

#list > div > .details > .content > .users > .userlist > .item > .username {
	min-width: 135px;
	width: 135px;
}

#list > div > .details > .content > .users > .userlist > .item > .permission {
	min-width: 30px;
	text-align: center;
	width: 30px;
}

#list > div > .details > .content > .users > .explainations {
	font-size: 94%;
	margin-top: 50px;
	opacity: .7;
}



#list > div > .details > .content > div:not(.info):not(.payed) {
	display: none;
}

#list > div > .details > .content > div > .content {
	margin-top: 30px;
	margin-bottom: 10px;
}

#list > div > .details > .content > .share > .content,
#list > div > .details > .content > .share-edit > .content {
	margin-bottom: 30px;
}

#list > div > .details > .content > .share > form > .item > .field > [name="field-sum"]
#list > div > .details > .content > .share-edit > form > .item > .field > [name="field-sum"] {
	width: calc(100% - 130px);
}

#list > div > .details > .content > .share > form > .item > .field > [name="list-payment-type"],
#list > div > .details > .content > .share-edit > form > .item > .field > [name="list-payment-type"] {
	margin-left: 10px;
	width: 130px;
}

#list > div > .details > .content > .share > form > .button,
#list > div > .details > .content > .share-edit > form > .button {
	margin-top: 10px;
}