#logo {
	width: 700px !important;
}

#upgrade {
	margin: 0 auto;
	width: 700px;
}

#upgrade > .continue {
	border-radius: 5px;
	display: block;
	font-size: 122%;
	font-weight: 700;
	margin-top: 20px;
	padding: 20px 10px;
	text-align: center;
	text-decoration: none;
}

#upgrade > .continue:active,
#upgrade > .continue:hover {
	background-color: var(--bg_darker);
}

#upgrade > .working {
	display: none;
	margin-top: 20px;
	padding: 10px;
}

#upgrade > .working > div {
	padding: 5px 0;
}

#upgrade > .working > div > .inactive {
	opacity: .5;
}

#upgrade > .working > div:not(.step-1) > .active {
	display: none;
	opacity: 1;
}

#upgrade > .working > div > .empty,
#upgrade > .working > div > .wait,
#upgrade > .working > div > .success {
	margin-right: 10px;
}

#upgrade > .working > div > .empty {
	margin-right: 30px;
}

#upgrade > .working > div:not(.step-1) > .wait,
#upgrade > .working > div > .success {
	display: none;
}