#admin > .info {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	margin-top: 30px;
}

#admin > .info > div > div > h2 {
	margin: 0 0 10px 0;
}



#admin > .info > .left {
	padding-right: 70px;
	width: 440px;
}

#admin > .info > div > div > .item {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin: 3px 0;
}

#admin > .info > div > .currencies > .item {
	justify-content: flex-start;
}

#admin > .info > div > div > .item > .line {
	border-top: 1px dashed var(--line);
	flex: 1;
	margin: 0 10px;
}

#admin > .info > div > div > .item > .value {
	align-items: center;
}

#admin > .info > div > div > .item > svg,
#admin > .info > div > div > .item > .value > svg {
	width: 16px;
}

#admin > .info > div > div > .item > svg {
	margin-left: 5px;
}

#admin > .info > div > div > .item > .value > svg {
	margin-right: 5px;
}

#admin > .info > div > div > .item > .icon-tabler-minus,
#admin > .info > div > div > .item > .value > .icon-tabler-minus {
	stroke: var(--grey);
}

#admin > .info > div > div > .item > .icon-tabler-chevron-up,
#admin > .info > div > div > .item > .value > .icon-tabler-chevron-up {
	stroke: var(--green);
}

#admin > .info > div > div > .item > .icon-tabler-chevron-down,
#admin > .info > div > div > .item > .value > .icon-tabler-chevron-down {
	stroke: var(--red);
}



#admin > .info > .left > .users {
	margin-top: 50px;
}

#admin > .info > .left > .users > h2 {
	margin: 0;
}

#admin > .info > .left > .users > div {
	padding: 10px 0;
}

#admin > .info > .left > .users > div > .item {
	margin: 5px 0;
}

#admin > .info > .left > .users > div > .item > .head {
	font-weight: 700;
}

#admin > .info > .left > .users > div > .item > .user {
	min-width: 200px;
	width: 200px;
}

#admin > .info > .left > .users > div > .item > .email,
#admin > .info > .left > .users > div > .item > .tfa {
	min-width: 50px;
	text-align: center;
	width: 50px;
}

#admin > .info > .left > .users > div > .item > .lastactive {
	margin-left: 20px;
	min-width: 121px;
	width: 121px;
}



#admin > .info > .left > .currencies {
	margin-top: 50px;
}







#admin > .info > .right {
	width: calc(100% - 440px - 70px);
}

#admin > .info > .right > .version {
	background-color: var(--bg_darker);
	border-radius: 5px;
	padding: 30px 0;
	text-align: center;
}

#admin > .info > .right > .version > .version {
	font-size: 162%;
	font-weight: 700;
	margin-bottom: 10px;
}

#admin > .info > .right > .version > .check-for-updates {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	margin-left: 20px;
}

#admin > .info > .right > .version > .check-for-updates > .working {
	display: none;
}

#admin > .info > .right > .version > .check-for-updates > .working > div,
#admin > .info > .right > .version > .check-for-updates > div:not(.check) > div {
	align-items: center;
	display: flex;
	justify-content: center;
}

#admin > .info > .right > .version > .check-for-updates > div:not(.check) > div > svg,
#admin > .info > .right > .version > .check-for-updates > div:not(.check) > a > svg {
	margin-right: 5px;
}



#admin > .info > .right > .currencies {
	margin-top: 50px;
}

#admin > .info > .right > .currencies > div {
	margin-top: 5px;
}

#admin > .info > .right > .currencies > div > div {
	display: inline-block;
	font-size: 120%;
}

#admin > .info > .right > .currencies > div > div:not(:first-child) {
	margin-left: 5px;
}



#admin > .info > .right > .configs {
	margin-top: 50px;
}

#admin > .info > .right > .configs > h2 {
	margin-bottom: 10px;
}