.side-by-side {
	flex-wrap: wrap;
}



#manage-budget > h1 {
	margin-bottom: 20px;
}

#manage-budget > form > div > div > h2 {
	margin-top: 0;
	margin-bottom: 15px;
}



#manage-budget > form > div > .required {
	width: 500px;
}

#manage-budget > form > div > .required > .side-by-side > .item.name,
#manage-budget > form > div > .required > .side-by-side > .item.name > .field,
#manage-budget > form > div > .required > .side-by-side > .item.name > .field > div:not(.icon) {
	width: 100%;
}

#manage-budget > form > div > .required > .side-by-side > .item:not(:first-child) {
	margin-left: 10px;
}

#manage-budget > form > div > .required > .side-by-side > .item > .field > [name="field-name"] {
	width: 100%;
}

#manage-budget > form > div > .required > .side-by-side > .item > .field.sum > div:not(.icon) > [name="field-sum-goal"],
#manage-budget > form > div > .required > .side-by-side > .item > .field.sum > div:not(.icon) > [name="field-sum-permonth"] {
	width: 205px;
}

#manage-budget > form > div > .required > .side-by-side.sums {
	margin-top: 10px;
}

#manage-budget > form > div > .required > .side-by-side > .item > .field > .math {
	display: none;
	margin-top: 5px;
	margin-left: 22px;
}

#manage-budget > form > div > .required > .side-by-side > .item > .field > .math > .equals {
	margin-right: 5px;
}



#manage-budget > form > div > .optionally {
	margin-left: 60px;
	width: calc(500px - 60px);
}



#manage-budget > form > .button {
	border-top: 1px dashed var(--line);
	margin-top: 30px;
	padding-top: 30px;
	padding-left: 30px;
}