svg[class*="icon-tabler-currency"] {
	margin: .15rem 0 0 .2rem;
}



#overview {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
}

#overview > .left {
	width: calc(50% - 50px);
}

#overview > .left > .calendar {
	margin: 50px auto 0 auto;
	position: relative;
	width: 310px;
}

#overview > .left > .calendar > .dim {
	background-color: var(--dim);
	display: none;
	height: 100%;
	position: absolute;
	width: 310px;
	z-index: 100;
}

#overview > .left > .calendar > .icons {
	align-items: center;
}

#overview > .left > .calendar > .icons > a {
	margin-left: 5px;
	padding: 5px;
}

#overview > .left > .calendar > .months > div {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 2px 0;
}

#overview > .left > .calendar > .months > div > div > .month {
	padding: 0 5px;
}

#overview > .left > .calendar > .months > div > div > .month.inactive {
	display: none;
}

#overview > .left > .calendar > .top {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 10px;
	padding: 10px;
}

#overview > .left > .calendar > .top > div > a > svg > path:not(:first-child) {
	stroke: var(--text);
}

#overview > .left > .calendar > .top > div > .wait,
#overview > .left > .calendar > .months > div > div > .wait {
	display: none;
	position: relative;
	z-index: 500;
}

#overview > .left > .calendar > .top > .middle > a,
#overview > .left > .calendar > .top > .middle > div {
	padding: 5px;
}

#overview > .left > .calendar > table > thead > tr > th {
	border-bottom: 1px dashed var(--line);
	padding-bottom: 10px;
}

#overview > .left > .calendar > table > tbody > tr > td {
	height: 50px;
	max-width: 37px;
	position: relative;
	text-align: center;
	width: 37px;
}

#overview > .left > .calendar > table > tbody > tr > .week {
	border-right: 1px dashed var(--line);
}

#overview > .left > .calendar > table > tbody > tr > .out-of-month {
	opacity: .3;
}

#overview > .left > .calendar > .months > div > .dots {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	margin-top: 3px;
	margin-left: 5px;
}

#overview > .left > .calendar > table > tbody > tr > td > .digit {
	position: relative;
	z-index: 1;
}

#overview > .left > .calendar > table > tbody > tr > td > .digit.active {
	background-color: var(--highlight_period);
}

#overview > .left > .calendar > table > tbody > tr > td > .digit > a {
	border: 2px solid transparent;
	border-radius: 3px;
	display: block;
	text-decoration: none;
}

#overview > .left > .calendar > table > tbody > tr > td > .digit > a:hover {
	border: 2px solid var(--line);
}

#overview > .left > .calendar > table > tbody > tr > td > .today {
	border: 1px solid var(--highlight_today);
	border-radius: 100%;
	height: 25px;
	left: calc(50% - (25px / 2) - 1px);
	position: absolute;
	pointer-events: none;
	top: calc(50% - (25px / 2) - 1px);
	width: 25px;
	z-index: 99;
}

#overview > .left > .calendar > table > tbody > tr > td > .income-day > svg {
	height: 100%;
	width: 40px;
}

#overview > .left > .calendar > table > tbody > tr > td > .income-day > svg > path:not(:first-child) {
	stroke: var(--green);
}

#overview > .left > .calendar > table > tbody > tr > td > .dots {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	margin: 4px;
	padding: 2px;
	position: absolute;
}

#overview > .left > .calendar > .months > div > .dots > .dot.inactive,
#overview > .left > .calendar > table > tbody > tr > td > .dots > .dot.inactive {
	opacity: .1;
}

#overview > .left > .calendar > .months > div > .dots > .dot,
#overview > .left > .calendar > table > tbody > tr > td > .dots > .dot,
#overview > .left > .calendar > table > tbody > tr > td > .dots > a > .dot,
#overview > .left > .calendar > .statistics > div > div > .dot {
	border-radius: 100%;
	height: 5px;
	margin: 2px;
	width: 5px;
}

#overview > .left > .calendar > .months > div > .dots > .dot.expenses,
#overview > .left > .calendar > .months > div > .dots > a > .dot.expenses,
#overview > .left > .calendar > table > tbody > tr > td > .dots > .dot.expenses,
#overview > .left > .calendar > table > tbody > tr > td > .dots > a > .dot.expenses,
#overview > .left > .calendar > .statistics > div > div > .dot.expenses {
	background-color: var(--green);
}

#overview > .left > .calendar > .months > div > .dots > .dot.debts,
#overview > .left > .calendar > .months > div > .dots > a > .dot.debts,
#overview > .left > .calendar > table > tbody > tr > td > .dots > .dot.debts,
#overview > .left > .calendar > table > tbody > tr > td > .dots > a > .dot.debts,
#overview > .left > .calendar > .statistics > div > div > .dot.debts {
	background-color: var(--purple);
}

#overview > .left > .calendar > .months > div > .dots > .dot.loans,
#overview > .left > .calendar > .months > div > .dots > a > .dot.loans,
#overview > .left > .calendar > table > tbody > tr > td > .dots > .dot.loans,
#overview > .left > .calendar > table > tbody > tr > td > .dots > a > .dot.loans,
#overview > .left > .calendar > .statistics > div > div > .dot.loans {
	background-color: var(--orange);
}

#overview > .left > .calendar > .statistics {
	margin-top: 30px;
}

#overview > .left > .calendar > .statistics > div {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#overview > .left > .calendar > .statistics > div > .empty {
	opacity: .7;
}

#overview > .left > .calendar > .statistics > div > .total {
	margin-top: 10px;
	margin-left: 16px;
}

#overview > .left > .calendar > .statistics > div > div {
	align-items: center;
	display: flex;
	flex-direction: row;
}

#overview > .left > .calendar > .statistics > div > div > .dot {
	height: 8px;
	margin-right: 8px;
	width: 8px;
}



#overview > .left > .screenshot {
	background-color: var(--bg_darker);
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	margin-left: 15px;
	width: fit-content;
}

#overview > .left > .screenshot > div > a {
	margin: 0;
}

#overview > .left > .screenshot > div > a:hover {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

#overview > .left > .balance {
	background-color: var(--bg_darker);
	border-radius: 5px;
	padding: 20px 30px;
}

#overview > .left > .balance > .sum {
	align-items: center;
	display: flex;
	flex-direction: row;
	font-size: 200%;
	font-weight: 700;
	justify-content: center;
	padding: 30px 0 20px 0;
}

#overview > .left > .balance > .sum > span > svg {
	margin: .1rem .5rem 0 .5rem;
	width: 28px;
}



#overview > .statistics {
	margin-left: 50px;
	max-width: 510px;
	min-width: 350px;
	overflow-x: auto;
	overflow-y: hidden;
	position: relative;
	width: 510px;
	z-index: 999;
}

#overview > .statistics > div:not(:first-child) {
	margin-top: 50px;
}

#overview > .statistics > div > h2 {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin-bottom: 10px;
}

#overview > .statistics > div > h2 > div {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
}

#overview > .statistics > div > h2 > .new > a {
	font-size: 86%;
	margin: -5px 0;
	padding: 5px;
	text-decoration-style: dashed;
}

#overview > .statistics > div > h2:first-child {
	margin-top: 0;
}

#overview > .statistics > div > h2 > div > .screenshot {
	margin-right: 5px;
}

#overview > .statistics > div > h2 > div > div > a {
	margin: 0;
}

#overview > .statistics > div > .information {
	margin-top: -10px;
	margin-bottom: 10px;
	padding: 10px;
}

#overview > .statistics > div > .item {
	align-items: center;
	display: flex;
	flex-direction: row;
}

#overview > .statistics > div > .item > div {
	padding: 3px 0;
}

#overview > .statistics > div > .item > .line {
	border-bottom: 1px dotted var(--line);
	flex: 1;
	margin: 0 1rem;
}

#overview > .statistics > div > .item > .value {
	text-align: right;
}

#overview > .statistics > div > .item > .value > svg {
	margin-top: 2px;
}

#overview > .statistics > div > .space {
	padding: 5px 0;
}