#shares > h1 {
	margin-bottom: 15px;
}

#shares > h2 {
	margin-bottom: 15px;
}

#shares > h2:not(.first) {
	margin-top: 100px;
}



#shares > .message {
	padding: 10px;
	text-align: left;
}



#shares > .list {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	position: relative;
	overflow-x: auto;
	overflow-y: hidden;
	padding: 10px 0;
	width: 100%;
}

#shares > .list > .items > div {
	align-items: center;
	display: flex;
	flex-direction: row;
}

#shares > .list > .items > .head > div {
	font-weight: 700;
}

#shares > .list > .items > div > .options {
	width: 50px;
}

#shares > .list > .items > div > .options > a {
	padding: 5px;
}

#shares > .list > .items > div > .shared {
	width: 160px;
}

#shares > .list > .items > div > .item {
	width: 300px;
}

#shares > .list > .items > div > .item > .new {
	color: var(--yellow);
	font-weight: 700;
	margin-right: 10px;
}

#shares > .list > .items > div > .item-type {
	width: 100px;
}

#shares > .list > .items > div > .username {
	width: 200px;
}