#manage-item > h1 {
	margin-bottom: 20px;
}

#manage-item > form > div {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
}

#manage-item > form > div > div > h2 {
	margin-top: 0;
	margin-bottom: 15px;
}

#manage-item > form > div > div > .information {
	margin-bottom: 30px;
}



#manage-item > form > div > .required {
	width: 500px;
}

#manage-item > form > div > .required > .side-by-side.options {
	border-bottom: 1px dashed var(--line);
	margin-bottom: 15px;
	padding-bottom: 20px;
}

#manage-item > form > div > .required > .side-by-side > .item:not(:first-child) {
	margin-left: 10px;
}

#manage-item > form > div > .required > .side-by-side > .item > .field > [name="list-accounts"] {
	width: 150px;
}

#manage-item > form > div > .required > .side-by-side > .item > .field > [name="list-types"] {
	width: 150px;
}

#manage-item > form > div > .required > .side-by-side > .item > .field > [name="list-categories"] {
	width: 143px;
}

#manage-item > form > div > .required > .side-by-side > .item.expense > .field > [name="field-name"] {
	width: 190px;
}

#manage-item > form > div > .required > .side-by-side > .item.debt > .field > [name="field-name"],
#manage-item > form > div > .required > .side-by-side > .item.loan > .field > [name="field-name"] {
	width: 250px;
}

#manage-item > form > div > .required > .side-by-side > .item.expense > .field.sum > div:not(.icon) > [name="field-sum"] {
	width: 133px;
}

#manage-item > form > div > .required > .side-by-side > .item.debt > .field.sum > div:not(.icon) > [name="field-sum"],
#manage-item > form > div > .required > .side-by-side > .item.loan > .field.sum > div:not(.icon) > [name="field-sum"] {
	width: 160px;
}

#manage-item > form > div > .required > .side-by-side > .item > .field.sum > div:not(.icon) > [name="list-currencies"] {
	margin-left: 10px;
	width: 65px;
}

#manage-item > form > div > .required > .side-by-side > .item > .field > .math {
	display: none;
	margin-top: 5px;
	margin-left: 22px;
}

#manage-item > form > div > .required > .side-by-side > .item > .field > .math > .equals {
	margin-right: 5px;
}



#manage-item > form > div > .optionally {
	margin-left: 60px;
	width: calc(500px - 60px);
}

#manage-item > form > div > .optionally > .side-by-side > .item.ocr {
	margin-left: 10px;
}

#manage-item > form > div > .optionally > .side-by-side > .item > .field > [name="field-number"] {
	width: 122px;
}

#manage-item > form > div > .optionally > .side-by-side > .item > .field > [name="field-number-ocr"] {
	width: 228px;
}

#manage-item > form > div > .optionally > .side-by-side > .item > .field > [name="field-date-expires"] {
	width: 180px;
}

#manage-item > form > div > .optionally > .side-by-side {
	margin-top: 10px;
}

#manage-item > form > div > .optionally > .side-by-side > .item.phone {
	margin-left: 10px;
}

#manage-item > form > div > .optionally > .side-by-side > .item > .field > [name="field-contact-phone"] {
	width: 208px;
}

#manage-item > form > div > .optionally > .item > .field > [name="field-contact-email"] {
	width: 100%;
}

#manage-item > form > div > .optionally > .item > .field > [name="field-recurrence"] {
	margin-right: 10px;
	width: 50px;
}

#manage-item > form > div > .optionally > .item > .field > [name="field-notes"] {
	width: 100%;
}



#manage-item > form > .button {
	border-top: 1px dashed var(--line);
	margin-top: 30px;
	padding-top: 30px;
	padding-left: 30px;
}







.width-sum-original {
	width: 208px !important;
}

.width-sum-extended {
	width: 460px !important;
}

.width-sum-withcurrency-extended {
	width: 373px !important;
}